# Importing Libraries

In [2]:
import nltk 
from nltk import FreqDist
from nltk.corpus import nps_chat
from nltk import ConditionalFreqDist
from nltk.corpus import PlaintextCorpusReader
from nltk.tokenize import word_tokenize,sent_tokenize
import os
import re

In [ ]:
# Getting Inputs from User

In [1675]:
Domain=str(input("Enter Desired Domain:"))

Enter Desired Domain: Internet / Ecommerce

In [1]:
JobTitle=str(input("Enter Desired Job Title:"))

Waiting for a Spark session to start...
Spark Initialization Done! ApplicationId = app-20200605181148-0000
KERNEL_ID = 029d109c-3d76-467a-b248-560527d2a2cf
Enter Desired Job Title:Data Scientist

In [2]:
Skills=str(input("Enter your Skills:"))

Enter your Skills:R, Tableau

In [3]:
ToolsUsed=str(input("Enter the tools you had used before:"))

Enter the tools you had used before:R, Tableau

In [4]:
Location=str(input("Enter Peferred Location:"))

Enter Peferred Location:Bangalore

## Reading base file

In [5]:
def read_file(filename):
    with open(filename,'r',encoding='latin-1') as file:
        text=file.read()
    return text

In [3]:
BaseData=read_file("naukri_com-job_sample_text.txt")

NameError: name 'read_file' is not defined

In [ ]:
Domain_Skills=pd.read_csv("Naukri-Domain&Skillset.csv")

In [ ]:
Domain_Skills.head()

In [ ]:
Domain

In [ ]:
Skills

In [ ]:
Domain_Skills[Domain_Skills['skills']==Skills]

52118057

In [1558]:
Refined_DomainSkills

Empty DataFrame
Columns: [company, experience, industry, joblocation_address, skills]
Index: []

In [835]:
Test_data_n=text.split("\n")
len(Test_data_n)

21998

In [985]:
text.find('Data')

1166

In [1018]:
text.find('o')

1

In [855]:
Test_data_Space=text.split(" ")
len(Test_data_Space)

6975579

In [859]:
Test_data_tab=text.split("\t")
len(Test_data_tab)

285962

In [1010]:
[w for w in text if len(w)>10]

#words_with_end_ed=[w for w in Skills_Check if re.search('$Learning$',w)]

[]

In [885]:
[w for w in Test_data_Space if w.istitle()]

['Media',
 'Pvt',
 'B.Tech/B.E.',
 'Any',
 'Specialization',
 'Postgraduate',
 'Any',
 'Specialization,',
 'Post',
 'Graduation',
 'Not',
 'Required"\t0',
 'Entertainment',
 'Internet\t"Job',
 'Description',
 'Send',
 'Jobs',
 'Qualifications:',
 'To',
 'Graduation',
 'Any',
 'Skill:',
 'Basic',
 'Computer',
 'Knowledge',
 'Job',
 'Requirement',
 'System',
 'Laptop',
 'Type',
 'Full',
 'Time',
 'Part',
 'Languages',
 'Tamil',
 'English.',
 'Experience',
 'Freshers',
 'Experience',
 'Selection',
 'Process:',
 'Easy',
 'Selection',
 'Process,So',
 'What',
 'Are',
 'You',
 'Waiting',
 'For?',
 'Apply',
 'Now',
 'Grab',
 'Best',
 'Opportunity',
 'To',
 'Make',
 'Your',
 'Carrier',
 'To',
 'Improve',
 'Your',
 'Earing',
 'Skills.',
 'More',
 'Mr',
 'Hari',
 'P.A',
 'Industry:',
 'Media',
 'Entertainment',
 'Internet',
 'Functional',
 'Area:',
 'Customer',
 'Service',
 'Operations',
 'Role',
 'Category:Other',
 'Role:Fresher',
 'Keyskills',
 'English',
 'Typing',
 'Part',
 'Time',
 'Data',
 'Entry',
 'Selection',
 'Process',
 'Desired',
 'Candidate',
 'Profile',
 'Education-',
 'B.Tech/B.E.',
 'Any',
 'Specialization',
 'Postgraduate',
 'Any',
 'Specialization,',
 'Post',
 'Graduation',
 'Not',
 'Required',
 'Please',
 'Job',
 'Company',
 'Profile:',
 'Media',
 'Pvt',
 'Ltd',
 'Mass',
 'Media',
 'International',
 'Find',
 'Live',
 'Info',
 'Pvt',
 'Ltd',
 'Find',
 'Chennai,',
 'India.',
 'With',
 'We',
 'Specialists',
 'Under',
 'Top',
 'Management',
 'More',
 'Download',
 'Photo',
 'View',
 'Contact',
 'Details"\t2.11E+11\tChennai\tWalkin',
 'Data',
 'Entry',
 'Operator',
 'Shift)\t\t"1,50,000',
 'P.A"\t2016-05-21',
 'B.Tech/B.E.',
 'Any',
 'Specialization',
 'Any',
 'Specialization\t0',
 'Event',
 'Management\t"Job',
 'Description',
 'Send',
 'Jobs',
 'Qualifications:',
 'To',
 'Graduation',
 'Any',
 'Skill:',
 'Basic',
 'Computer',
 'Knowledge',
 'Job',
 'Requirement',
 'System',
 'Laptop',
 'Type',
 'Full',
 'Time',
 'Part',
 'Languages',
 'Tamil',
 'English.',
 'Experience',
 'Freshers',
 'Experience',
 'Selection',
 'Process:',
 'Easy',
 'Selection',
 'Process,So',
 'What',
 'Are',
 'You',
 'Waiting',
 'For?',
 'Apply',
 'Now',
 'Grab',
 'Best',
 'Opportunity',
 'To',
 'Make',
 'Your',
 'Carrier',
 'To',
 'Improve',
 'Your',
 'Earing',
 'Skills.',
 'Chennai',
 'Peoples',
 'Only',
 'Contact',
 'Deepika',
 'Team',
 'Leader',
 'P.A.',
 'Industry:',
 'Advertising',
 'Event',
 'Management',
 'Functional',
 'Area:',
 'Marketing',
 'Advertising',
 'Media',
 'Planning',
 'Role',
 'Category:Online/Digital',
 'Marketing',
 'Role:Search',
 'Engine',
 'Specialist',
 'Keyskills',
 'Data',
 'Entry',
 'Desired',
 'Candidate',
 'Profile',
 'Education-',
 'B.Tech/B.E.',
 'Any',
 'Specialization',
 'Any',
 'Specialization',
 'Please',
 'Job',
 'Company',
 'Profile:',
 'Find',
 'Live',
 'Infotech',
 'India.',
 'With',
 'Find',
 'Download',
 'Photo',
 'View',
 'Contact',
 'Details"\t2.11E+11\tChennai\tWork',
 'Based',
 'Onhome',
 'Based',
 'Part',
 'Time.\t60\t"1,50,000',
 'P.A.',
 'Career',
 'Infosystem',
 'Pvt.',
 'Any',
 'Graduate',
 'Any',
 'Specialization',
 'Postgraduate',
 'Doctorate:Doctorate',
 'Not',
 'Required\t4',
 'Software',
 'Services\t"Job',
 'Description',
 'Send',
 'Jobs',
 'Analyzes',
 'Provides',
 'Acts',
 'Verifies',
 'Oversees',
 'Develops',
 'Leads',
 'Assures',
 'Additional',
 'Job',
 'Details:',
 'Looking',
 'Salary:',
 'Not',
 'Disclosed',
 'Recruiter',
 'Industry:',
 'Software',
 'Services',
 'Functional',
 'Area:',
 'Software',
 'Application',
 'Programming',
 'Maintenance',
 'Role',
 'Category:Programming',
 'Design',
 'Role:Software',
 'Developer',
 'Keyskills',
 'Loader',
 'Development',
 'Procedures',
 'Application',
 'Design',
 'Test',
 'Data',
 'Application',
 'Development',
 'Desired',
 'Candidate',
 'Profile',
 'Education-',
 'Any',
 'Graduate',
 'Any',
 'Specialization',
 'Postgraduate',
 'Doctorate:Doctorate',
 'Not',
 'Required',
 'Company',
 'Profile:',
 'Softtech',
 'Career',
 'Infosystem',
 'Pvt.',
 'Ltd',
 'Leading',
 'Softtech',
 'Career',
 'Infosystem',
 'Pvt.',
 'Ltd',
 'Download',
 'Photo',
 'View',
 'Contact',
 'Developer',
 'Disclosed',
 'Recruiter\t2016-10-13',
 'Software',
 'Application',
 'Any',
 'Graduate',
 'Any',
 'Specialization',
 'Doctorate:Doctorate',
 'Not',
 'Required\t11',
 'Financial',
 'Services',
 'Broking\t"Job',
 'Description',
 'Send',
 'Jobs',
 'Involved',
 'Will',
 'Advise',
 'Indirect',
 'Structured',
 'Ensure',
 'Strict',
 'Compliance',
 'Central',
 'Excise',
 'Service',
 'Tax',
 'Laws',
 'Attending',
 'Hearings',
 'Tribunal.',
 'Develop',
 'Internal',
 'Systems',
 'Central',
 'Advice',
 'Company',
 'Central',
 'Excise',
 'Service',
 'Tax',
 'Export',
 'Preparation',
 'Realization',
 'Liaison',
 'Central',
 'Excise',
 'Department',
 'Formalities',
 'Advising',
 'Tax',
 'Designing',
 'Assessment',
 'Appeal',
 'Audits',
 'States',
 'Would',
 'Identifying',
 'Success',
 'Ensure',
 'Salary:',
 'Not',
 'Disclosed',
 'Recruiter',
 'Industry:',
 'Banking',
 'Financial',
 'Services',
 'Broking',
 'Functional',
 'Area:',
 'Accounts',
 'Finance',
 'Tax',
 'Company',
 'Secretary',
 'Audit',
 'Role',
 'Category:Accounts',
 'Role:Taxation(Indirect)',
 'Manager',
 'Keyskills',
 'Service',
 'Tax',
 'Matters',
 'Central',
 'Excise',
 'Customs',
 'Audit',
 'Indirect',
 'Taxation',
 'Auditing',
 'Export',
 'Tax',
 'Planning',
 'Excise',
 'Service',
 'Tax',
 'Sales',
 'Tax',
 'Desired',
 'Candidate',
 'Profile',
 'Requirements',
 'Qualified',
 'C.A.',
 'Good',
 'Expertise',
 'Indirect',
 'Taxes',
 'Indian',
 'Experience',
 'Excise,',
 'Customs,',
 'Service',
 'Tax,',
 'Sales',
 'Tax',
 'Ability',
 'Superior',
 'Superior',
 'Presentation',
 'Ability',
 'Jyoti',
 'Education-',
 'Any',
 'Graduate',
 'Any',
 'Specialization',
 'Doctorate:Doctorate',
 'Not',
 'Required',
 'Company',
 'Profile:',
 'Onboard',
 'Leading',
 'Client',
 'Onboard',
 'Download',
 'Photo',
 'View',
 'Contact',
 'Details"\t81016900536\t"Mumbai,',
 'Bengaluru,',
 'Kolkata,',
 'Chennai,',
 'Coimbatore,',
 'Indirect',
 'Tax',
 'Disclosed',
 'Recruiter\t2016-10-13',
 'Technologies',
 'Solutions',
 'Pvt.',
 'B.Tech/B.E.',
 'Any',
 'Specialization',
 'Postgraduate',
 'Any',
 'Specialization,',
 'Computers,',
 'M.Tech',
 'Any',
 'Specialization',
 'Doctorate:Any',
 'Doctorate',
 'Any',
 'Specialization"\t6',
 'Software',
 'Services\t"Job',
 'Description',
 'Send',
 'Jobs',
 'Please',
 'Resume',
 'Strong',
 'Data',
 'Structures,',
 'Algorithms,',
 'Design',
 'Patterns',
 'Web',
 'Scripting:',
 'Angular',
 'Knockout',
 'Meteor',
 'Software',
 'Experience',
 'Knowledge',
 'Open',
 'Source',
 'Git)',
 'Experience',
 'Experience',
 'Tomcat.',
 'Ability',
 'Agile',
 'Salary:',
 'Not',
 'Disclosed',
 'Recruiter',
 'Industry:',
 'Software',
 'Services',
 'Functional',
 'Area:',
 'Software',
 'Application',
 'Programming',
 'Maintenance',
 'Role',
 'Category:Programming',
 'Design',
 'Role:Team',
 'Lead/Technical',
 'Lead',
 'Keyskills',
 'Javascript',
 'Java',
 'Tomcat',
 'Rest',
 'Web',
 'Services',
 'Desired',
 'Candidate',
 'Profile',
 'Education',
 'Qualification-',
 'Premier',
 'Institute.Experience',
 'Location:',
 'Location',
 'Area:',
 'Software',
 'Application',
 'Programming,',
 'Category:',
 'Programming',
 'Tech',
 'Lead***Note',
 'Pay',
 'Education-',
 'B.Tech/B.E.',
 'Any',
 'Specialization',
 'Postgraduate',
 'Any',
 'Specialization,',
 'Computers,',
 'M.Tech',
 'Any',
 'Specialization',
 'Doctorate:Any',
 'Doctorate',
 'Any',
 'Specialization',
 'Company',
 'Profile:',
 'Spire',
 'Technologies',
 'Solutions',
 'Pvt.',
 'Ltd.',
 'Spire',
 'Spire',
 'We',
 'Spire',
 'Big',
 'Data',
 'Towards',
 'We',
 'Spire',
 'Big',
 'Data',
 'At',
 'Spire,',
 'Spire',
 'Technologies',
 'Times',
 'Ascent.',
 'Work',
 'The',
 'Spire',
 'We',
 'We',
 'At',
 'Spire,',
 'Career',
 'Come',
 'Spire!',
 'Download',
 'Photo',
 'View',
 'Contact',
 'Technical',
 'Lead',
 '-\t4\tNot',
 'Disclosed',
 'Recruiter\t2016-10-13',
 'Software',
 'Application',
 'Web',
 'Global',
 'Services',
 'Pvt',
 'B.Tech/B.E.',
 'Any',
 'Specialization',
 'Computers,',
 'M.Tech',
 'Any',
 'Specialization,',
 'Computers,',
 'Any',
 'Specialization"\t2',
 'Software',
 'Services\t"Job',
 'Description',
 'Send',
 'Jobs',
 'We',
 'Edwards',
 'Worldsoft',
 'Developer',
 'Job',
 'Details:',
 'Expertise',
 'Good',
 'Knowledge',
 'Knowledge',
 'Excellent',
 'Interested',
 'Oct',
 'Venue',
 'Details:',
 'Revtech',
 'Solutions',
 'India',
 'Private',
 'Limited,',
 'Prestige',
 'Al',
 'Kareem',
 'Building,',
 'Floor,',
 'Edward',
 'Road,',
 'Queens',
 'Road,',
 'Bangalore',
 'Landmark',
 'Next',
 'Shivajinagar',
 'Indian',
 'Express',
 'Signal',
 'Queens',
 'Road',
 'Opposite',
 'Restaurant',
 'Road',
 'Note:',
 'Queens',
 'If',
 'Cunningham',
 'Take',
 'Right',
 'Come',
 'Edward',
 'Restaurant',
 'Please',
 'Kindly',
 'Please',
 'Note',
 'Kindly',
 'Business',
 'Casuals.',
 'Salary:',
 'Not',
 'Disclosed',
 'Recruiter',
 'Industry:',
 'Software',
 'Services',
 'Functional',
 'Area:',
 'Software',
 'Application',
 'Programming',
 'Maintenance',
 'Role',
 'Category:Programming',
 'Design',
 'Role:Software',
 'Developer',
 'Keyskills',
 'Edwards',
 'Desired',
 'Candidate',
 'Profile',
 'Please',
 'Job',
 'Education-',
 'B.Tech/B.E.',
 'Any',
 'Specialization',
 'Computers,',
 'M.Tech',
 'Any',
 'Specialization,',
 'Computers,',
 'Any',
 'Specialization',
 'Company',
 'Profile:',
 'Web',
 'Global',
 'Services',
 'Pvt',
 'Ltd',
 'A',
 'Global',
 'Commerce',
 'Service',
 'Provider,',
 'We',
 'We',
 'Commerce',
 'Without',
 'Compromise',
 'Specialties',
 'Strategic',
 'Commerce',
 'Consulting,',
 'Agency',
 'Services,',
 'Technology',
 'Services,',
 'Omni-Channel',
 'Operations,',
 'Technology',
 'Ecosystem,',
 'Global',
 'Expansion',
 'Download',
 'Photo',
 'View',
 'Contact',
 'As400',
 'Developer',
 'Pfsweb',
 'Global',
 'Services',
 'Disclosed',
 'Recruiter\t2016-10-13',
 'Software',
 'Application',
 'Management',
 'Consultant',
 'Pvt.',
 'Ltd\t\t1',
 'Software',
 'Services\t"Job',
 'Description',
 'Send',
 'Jobs',
 'Develop',
 'Web',
 'Application',
 'Handson',
 'Perl,',
 'Python,',
 'Ajax',
 'Strong',
 'P.A',
 'Industry:',
 'Software',
 'Services',
 'Functional',
 'Area:',
 'Software',
 'Application',
 'Programming',
 'Maintenance',
 'Role',
 'Category:Programming',
 'Design',
 'Role:Software',
 'Developer',
 'Keyskills',
 'Ajax',
 'Python',
 'Web',
 'Application',
 'Development',
 'Perl',
 'Web',
 'Technologies',
 'Web',
 'Services',
 'Desired',
 'Candidate',
 'Profile',
 'Working',
 'Facebook,',
 'Twitter',
 'Google',
 'Create',
 'Familiar',
 'Angular,',
 'React,',
 'Ember',
 'Backbone',
 'Troubleshoot,',
 'Company',
 'Profile:',
 'Kinesis',
 'Management',
 'Consultant',
 'Pvt.',
 'Ltd',
 'Large',
 'It',
 'Company',
 'Design,',
 'Analyze',
 'Download',
 'Photo',
 'View',
 'Contact',
 'Details"\t1.31E+11\t"Delhi',
 'Mumbai,',
 'Bengaluru,',
 'Kochi,',
 'Greater',
 'Noida,',
 'Gurgaon,',
 'Hyderabad,',
 'Kozhikode,',
 'Developer\t2\t"3,00,000',
 'P.A"\t2016-10-13',
 'Software',
 'Application',
 'Pvt.',
 'Ltd.',
 'Rossell',
 'Techsys,',
 'Diploma',
 'Any',
 'Specialization,',
 'Electrical,',
 'Electronics/Telecommunication"\t2',
 'Aerospace',
 'Firms\t"Job',
 'Description',
 'Send',
 'Jobs',
 'Job',
 'Description',
 'Member',
 'Technical',
 'Wire',
 'Harness',
 'Fabrication',
 'Position',
 'Introduction:',
 'Rossell',
 'Techsys',
 'Aerospace',
 'Defence',
 '(A&D)',
 'Division',
 'Rossell',
 'India',
 'Limited',
 'Rossell',
 'Techsys',
 'India',
 'Bangalore.Rossell',
 'Techsys',
 'Indian',
 'Aerospace',
 'Defence',
 'Industry,',
 'India.',
 'Rossell',
 'Techsys',
 'Custom',
 'Test',
 'Wire',
 'Product',
 'Support',
 'Services.',
 'Rossell',
 'Techsys',
 'Rev',
 'C',
 'Rossell',
 'Techsys',
 'Positions:',
 'This',
 'Member',
 'Staff',
 'Qualifications',
 'Credentials:',
 'Candidates',
 'Diploma',
 'Electronics',
 'Given',
 'Rossell',
 'A',
 'Candidates',
 'Candidate',
 'Technical',
 'Requirements:',
 'Mandatory',
 'Primary',
 'Skills',
 'Hands',
 'Connectorisation,',
 'Knowledge',
 'Experience',
 'Aircraft',
 'Looms',
 'Knowledge',
 'Wire',
 'Harness',
 'In',
 'Inspection',
 'A',
 'Must',
 'Experience',
 'As',
 'Secondary',
 'Skills',
 'Domain',
 'Aviation',
 'Defense',
 'Mechanical',
 'A',
 'Yet',
 'Personality',
 'Requirements:',
 'Candidate',
 'Must',
 'Compensation:',
 'Selected',
 'Candidates',
 'Joining',
 'Time:',
 'Selected',
 'Candidates',
 'References:',
 'Selected',
 'Candidates',
 'Salary:',
 'Not',
 'Disclosed',
 'Recruiter',
 'Industry:',
 'Aviation',
 'Aerospace',
 ...]

In [918]:
len(set(Test_data_Space))

235668

In [928]:
len(set([w.lower() for w in Test_data_Space]))

203318

In [711]:
Occurances=FreqDist(Test_data)

In [945]:
print("Numner of opening for",JobTitle,Occurances[JobTitle])

Numner of opening for Data Eng 0

In [949]:
print("Number of opening for you Skills",Skills,Occurances[Skills])

Number of opening for you Skills Programming 0

In [953]:
print("Number of opening in your desired Location",Location,Occurances[Location])

Number of opening in your desired Location Mumbai 0

In [721]:
print("Number of opening in your desired Location",Occurances["PHP Developer"])

Number of opening in your desired Location 0

In [539]:
Skills_Check=nltk.Text(nltk.word_tokenize(text))

In [565]:
Skills_Check_1=Skills_Check.findall(r'M*')

Skills_Check_1

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [581]:
#nltk.Text(nps_chat.open("TestMail1.txt"))

words_with_end_ed=[w for w in Skills_Check if re.search('$Learning$',w)]

print(words_with_end_ed)

[]

In [634]:
#Download punkt package, used part of the other commands
nltk.download('punkt')

from nltk.corpus.reader.plaintext import PlaintextCorpusReader

[nltk_data] Error loading punkt: <urlopen error [Errno 110] Connection
[nltk_data]     timed out>

In [651]:
#Read the file into a corpus. The same command can read an entire directory
corpus=PlaintextCorpusReader(os.getcwd(),"naukri_com-job_sample_text.txt",encoding='latin-1')

#Print raw contents of the corpus
#print(corpus.raw())

In [655]:
#Extract the file IDs from the corpus
print("Files in this corpus : ", corpus.fileids())

#Extract paragraphs from the corpus
paragraphs=corpus.paras()
print("\n Total paragraphs in this corpus : ", len(paragraphs))

#Extract sentences from the corpus
sentences=corpus.sents()
print("\n Total sentences in this corpus : ", len(sentences))
print("\n The first sentence : ", sentences[0])

#Extract words from the corpus
print("\n Words in this corpus : ",corpus.words() )

Files in this corpus :  ['naukri_com-job_sample_text.txt']

 Total paragraphs in this corpus :  1

 Total sentences in this corpus :  222243

 The first sentence :  ['company', 'education', 'experience', 'industry', 'jobdescription', 'jobid', 'joblocation_address', 'jobtitle', 'numberofpositions', 'payrate', 'postdate', 'site_name', 'skills', 'uniq_id', 'MM', 'Media', 'Pvt', 'Ltd', '"', 'UG', ':', 'B', '.', 'Tech', '/', 'B', '.', 'E', '.']

 Words in this corpus :  ['company', 'education', 'experience', 'industry', ...]

In [659]:
#Find the frequency distribution of words in the corpus
course_freq_dist=nltk.FreqDist(corpus.words())

#Print most commonly used words
print("Top 10 words in the corpus : ", course_freq_dist.most_common(10))

#find the distribution for a specific word
print("\n Distribution for \"Spark\" : ",course_freq_dist.get("Spark"))

Top 10 words in the corpus :  [(',', 410364), ('.', 346587), (':', 343937), ('-', 316837), ('and', 206346), ('/', 189231), ('Any', 137725), ('the', 121633), ('to', 119715), ('of', 115867)]

 Distribution for "Spark" :  133

In [731]:
#find the distribution for a specific word
print("\n Distribution for \"Spark\" : ",course_freq_dist.get("Tableau"))

 Distribution for "Spark" :  121

In [1178]:
MandateSkills="Tableau,QlikView"

In [1051]:
test2.difference(test1)

AttributeError: 'str' object has no attribute 'difference'

In [1054]:
    text_vocab=set([w.lower() for w in test1 if w.isalpha()])
    english_vocab=set([w.lower() for w in test2 if nltk.corpus.words.words()])
    unusual_vocab=text_vocab.difference(english_vocab)

In [1058]:
unusual_vocab

{'h', 'n', 'o', 'p', 'r', 'y'}

In [ ]:
pip install fuzzywuzzypip install python-Levenshtein

In [1077]:
pip install fuzzywuzzypip

The following command must be run outside of the IPython shell:

    $ pip install fuzzywuzzypip

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/

In [1089]:
import fuzzywuzzy
import python-Levenshtein

SyntaxError: invalid syntax (<ipython-input-1089-214b7893e3c1>, line 2)

In [1093]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [1104]:
fuzz.ratio("Catherine M Gitau","Catherine Gitau")

94

In [1108]:
fuzz.partial_ratio("Catherine M. Gitau","Catherine Gitau")

80

In [1214]:
fuzz.partial_ratio(MandateSkills,Skills)

94

In [1223]:
fuzz.token_sort_ratio(MandateSkills,Skills)

94

# Matching Skills and Mandata Skills

In [1245]:
import pandas as pd

pd.set_option('display.max_colwidth', -1)
Naukri =  pd.read_csv('Naukri-Domain&Skillset.csv')
print('The shape: %d x %d' % Naukri.shape)
Naukri.head()

The shape: 21996 x 5

,company,experience,industry,joblocation_address,skills
0,MM Media Pvt Ltd,0 - 1 yrs,Media / Entertainment / Internet,Chennai,ITES
1,find live infotech,0 - 0 yrs,Advertising / PR / MR / Event Management,Chennai,Marketing
2,Softtech Career Infosystem Pvt. Ltd,4 - 8 yrs,IT-Software / Software Services,Bengaluru,IT Software - Application Programming
3,Onboard HRServices LLP,11 - 15 yrs,Banking / Financial Services / Broking,"Mumbai, Bengaluru, Kolkata, Chennai, Coimbatore, Tamilnadu",Accounts
4,Spire Technologies and Solutions Pvt. Ltd.,6 - 8 yrs,IT-Software / Software Services,Bengaluru,IT Software - Application Programming

In [1306]:
import re

def ngrams(string, n=4):
    string = re.sub(r'[,-./]|\sBD',r'', string)
    ngrams = zip(*[string[i:] for i in range(n)])
    return [''.join(ngram) for ngram in ngrams]

print('All 3-grams IT Software:')
ngrams('IT Software')

All 3-grams IT Software:

['IT S', 'T So', ' Sof', 'Soft', 'oftw', 'ftwa', 'twar', 'ware']

In [1278]:
Naukri=Naukri[Naukri['skills'].notnull()]

In [1282]:
from sklearn.feature_extraction.text import TfidfVectorizer

Skills = Naukri['skills']
vectorizer = TfidfVectorizer(min_df=1, analyzer=ngrams)
tf_idf_matrix = vectorizer.fit_transform(Skills)

In [1311]:
print(tf_idf_matrix[0])

# Check if this makes sense:

ngrams('Data')

  (0, 67)	0.7071067811865475
  (0, 93)	0.7071067811865475

['Data']

# Cosine Similarity

In [1334]:
!pip install sparse_dot_topn

Defaulting to user installation because normal site-packages is not writeable
WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x7fb7d417bf28>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/sparse-dot-topn/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x7fb7d417b320>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/sparse-dot-topn/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x7fb7d417b828>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/sparse-dot-topn/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x7fb7d417b7b8>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/sparse-dot-topn/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x7fb7d417bdd8>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/sparse-dot-topn/
ERROR: Could not find a version that satisfies the requirement sparse_dot_topn (from versions: none)
ERROR: No matching distribution found for sparse_dot_topn

In [1340]:
import numpy as np
from scipy.sparse import csr_matrix
import sparse_dot_topn.sparse_dot_topn as ct

def awesome_cossim_top(A, B, ntop, lower_bound=0):
    # force A and B as a CSR matrix.
    # If they have already been CSR, there is no overhead
    A = A.tocsr()
    B = B.tocsr()
    M, _ = A.shape
    _, N = B.shape
 
    idx_dtype = np.int32
 
    nnz_max = M*ntop
 
    indptr = np.zeros(M+1, dtype=idx_dtype)
    indices = np.zeros(nnz_max, dtype=idx_dtype)
    data = np.zeros(nnz_max, dtype=A.dtype)

    ct.sparse_dot_topn(
        M, N, np.asarray(A.indptr, dtype=idx_dtype),
        np.asarray(A.indices, dtype=idx_dtype),
        A.data,
        np.asarray(B.indptr, dtype=idx_dtype),
        np.asarray(B.indices, dtype=idx_dtype),
        B.data,
        ntop,
        lower_bound,
        indptr, indices, data)

    return csr_matrix((data,indices,indptr),shape=(M,N))

ImportError: No module named 'sparse_dot_topn'